<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized

<H1> Objectives:</H1>
<ul><li>Create a Jupyter Notebook</li></ul>
<ul><li>Insert code and markdown cells</li></ul>
<ul><li>Share your notebook through GitHub</li></ul>

Some of the popular languages that Data Scientists use are:
<br>1-Python
<br>2-R
<br>3-Java
<br>4-Scala

Some of the commonly used libraries used by Data Scientists include:
<br>1-Pandas
<br>2-Numpy
<br>3-Matplotlib
<br>4-Scikit Learen
<br>5-Keras

<table>
  <tr>
    <td>Data Science Tools</td>
  </tr>
  <tr>
    <td>Python</td>
    <td>SQL</td>
    <td>Jupyter Notebook</td>
    <td>RStudio</td> 
  </tr>
  <tr>

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>
<Br>2 + 3 = 5
<Br>8 - 4 = 4
<Br>5 * 4 = 20
<Br>10 / 2 = 5
<Br>10 % 3 = 1

In [18]:
 #This a simple arithmetic expression to mutiply then add integers'

(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<H2>Author</H2>
Zakaria SAWADOGO